---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import Gallery from '@components/Gallery.astro';
import { type EntriesStaticPaths, getEntriesPaths } from 'src/utils/paths';

export async function getStaticPaths(): EntriesStaticPaths<'projects'>  {
  return getEntriesPaths('projects')
}

const { entry } = Astro.props;
const { Content } = await render(entry);

---
<BaseLayout pageTitle={entry.data.title}>
  <Image src={entry.data.image} alt="featured image" />
  <p><em>{entry.data.excerpt}</em></p>
  <a href={entry.data.website}>Sitio web</a>
  <dl>
    <dt>Role:</dt><dd>{entry.data.role}</dd>
    <dt>Responsabilities:</dt><dd>{entry.data.responsibilities}</dd>
  </dl>
  <Content />
  {entry.data.gallery &&
    <Gallery items={entry.data.gallery}/>
  }
</BaseLayout>
