---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import Gallery from '@components/Gallery.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const workEntries = await getCollection('work');
  return workEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

---
<BaseLayout pageTitle={entry.data.title}>
  <Image src={entry.data.image} alt="featured image" />
  <dl>
    <dt>Rol:</dt><dd>{entry.data.role}</dd>
    <dt>Actividad:</dt><dd>{entry.data.startDate.toLocaleDateString("es-CO")}
    - {entry.data.endDate ? entry.data.endDate.toLocaleDateString("es-CO") : "actualidad"}</dd>
    <dt>Responsabilidades:</dt><dd>{entry.data.responsibilities}</dd>
  </dl>
 <p><em>{entry.data.excerpt}</em></p>
 <a href={entry.data.website}>Sitio web</a>

  <Content />
  {entry.data.gallery &&
    <Gallery items={entry.data.gallery}/>
  }
</BaseLayout>
