---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import Gallery from '@components/Gallery.astro';
import { getEntriesPaths, type EntriesStaticPaths } from 'src/utils';
export const dateFormat = new Intl.DateTimeFormat("es-CO", { month: "long", year: "numeric", timeZone: 'UTC' });

export async function getStaticPaths(): EntriesStaticPaths<'work'>  {
  return getEntriesPaths('work')
}
const { entry } = Astro.props;
const { Content } = await render(entry);
---
<BaseLayout pageTitle={entry.data.title}>
  <Image src={entry.data.image} alt="featured image" />
  <dl>
    <dt>Rol:</dt><dd>{entry.data.role}</dd>
    <dt>Actividad:</dt><dd>{dateFormat.format(entry.data.startDate)}
    - {entry.data.endDate ? dateFormat.format(entry.data.endDate) : "actualidad"}</dd>
    <dt>Responsabilidades:</dt><dd>{entry.data.responsibilities}</dd>
  </dl>
 <p><em>{entry.data.excerpt}</em></p>
 <a href={entry.data.website}>Sitio web</a>

  <Content />
  {entry.data.gallery &&
    <Gallery items={entry.data.gallery}/>
  }
</BaseLayout>
