---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import Gallery from '@components/Gallery.astro';
import { getEntriesPaths, type EntriesPath } from 'src/utils';

export async function getStaticPaths(): Promise<EntriesPath<'projects'>[]>  {
  return getEntriesPaths('projects')
}
const { entry } = Astro.props;
const { Content } = await render(entry);

---
<BaseLayout pageTitle={entry.data.title}>
  <Image src={entry.data.image} alt="featured image" />
  <p><em>{entry.data.excerpt}</em></p>
  <a href={entry.data.website}>Sitio web</a>
  <dl>
    <dt>Rol:</dt><dd>{entry.data.role}</dd>
    <dt>Responsabilidades:</dt><dd>{entry.data.responsibilities}</dd>
  </dl>
  <Content />
  {entry.data.gallery &&
    <Gallery items={entry.data.gallery}/>
  }
</BaseLayout>
