---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import Gallery from '@components/Gallery.astro';
import { type EntriesStaticPaths, getEntriesPaths } from 'src/utils/paths';
import { englishMonthYear as dateFormat } from '@i18n/dateFormat';
import { useTranslations } from '@i18n/utils';

export async function getStaticPaths(): EntriesStaticPaths<'work'>  {
  return getEntriesPaths('work')
}

const { locale } = Astro.params;
const { entry } = Astro.props;
const { Content } = await render(entry);

const t = useTranslations(locale);
---
<BaseLayout pageTitle={entry.data.title}>
  <Image src={entry.data.image} alt={t('featured_image')} />
  <dl>
    <dt>{t('work.role')}:</dt><dd>{entry.data.role}</dd>
    <dt>{t('work.activity')}:</dt><dd>{dateFormat.format(entry.data.startDate)}
    - {entry.data.endDate ? dateFormat.format(entry.data.endDate) : t('work.today')}</dd>
    <dt>{t('work.responsibilities')}:</dt><dd>{entry.data.responsibilities}</dd>
  </dl>
  <p><em>{entry.data.excerpt}</em></p>
  <a href={entry.data.website}>{t('work.website')}</a>

  <Content />
  {entry.data.gallery &&
    <Gallery items={entry.data.gallery}/>
  }
</BaseLayout>

