---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogTags from '@components/BlogTags.astro';
import { dateFormat } from 'src/scripts/dateFormat';
import Comments from '@components/Comments.astro';
import { getEntriesPaths, type EntriesStaticPaths } from 'src/utils';

export async function getStaticPaths(): EntriesStaticPaths<'blog'>  {
  return getEntriesPaths('blog')
};

const { entry } = Astro.props;
const { Content } = await render(entry);

---
<BaseLayout pageTitle={entry.data.title}>
  <p>{dateFormat.format(entry.data.date)}</p>
  {entry.data.image &&
    <img src={entry.data.image} width="300" alt="Imagen destacada" />
  }
  <BlogTags route="/blog/tags/" tags={entry.data.tags} />
  <Content />

  {entry.data.gist &&
    <script src={`${entry.data.gist}.js`} is:inline></script>
  }
  <Comments />
</BaseLayout>
