---
import BaseLayout from '@layouts/BaseLayout.astro';
import Tags from '@components/Tags.astro';
import { getTagsPaths, type TagsStaticPaths } from 'src/utils/paths';
import PostListWithDate from '@components/PostListWithDate.astro';

export async function getStaticPaths(): TagsStaticPaths<'talk'>  {
  return getTagsPaths('talk')
}

const { tag } = Astro.params;
const { posts, tags } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <Tags route="/charla/tags/" tags={tags} current={tag}/>
  <p>Charlas etiquetadas con {tag}</p>
  <PostListWithDate posts={posts} basePath='charla' />
</BaseLayout>
