---
import BaseLayout from '@layouts/BaseLayout.astro';
import Entry from '@components/Entry.astro';
import { dateFormat } from 'src/scripts/dateFormat';
import Tags from '@components/Tags.astro';
import { getTagsPaths, type TagsStaticPaths } from 'src/utils/paths';

export async function getStaticPaths(): TagsStaticPaths<'talk'>  {
  return getTagsPaths('talk')
}

const { tag } = Astro.params;
const { posts, tags } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <Tags route="/charla/tags/" tags={tags} current={tag}/>
  <p>Charlas etiquetadas con {tag}</p>
  <div class="post-list">
    {posts.map((post) =>
      <Entry
        image={post.data.image}
        url={`/charla/${post.id}`}
        title={post.data.title}
        date={dateFormat.format(post.data.date)}
      />
    )}
  </div>
</BaseLayout>
