---
import BaseLayout from '@layouts/BaseLayout.astro'
import Entry from '@components/Entry.astro';
import { getCollection } from 'astro:content';
import Tags from '@components/Tags.astro';
import { dateFormat } from 'src/scripts/dateFormat';

const allPosts = (await getCollection('talk')).sort((a, b)=> b.id.localeCompare(a.id));
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].sort((a, b)=> a.localeCompare(b));
const pageTitle = "Charlas";
---
<BaseLayout pageTitle={pageTitle}>
  <Tags route="/charla/tags/" tags={tags} />
  <div class="post-list">
    {allPosts.map((post) =>
      <Entry
        image={post.data.image}
        url={`/charla/${post.id}`}
        title={post.data.title}
        date={dateFormat.format(post.data.date)}
      />
    )}
  </div>
</BaseLayout>
