---
import SiteLayout from "@layouts/SiteLayout.astro";
import SEOHead from '@components/SEOHead.astro';
import intro from '@assets/img/intro.inline.svg?raw'
import Footer from '@components/Footer.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import LanguagePicker from '@components/LanguagePicker.astro'
import { buildHomeLink, buildLanguageLinks } from '@i18n/languagePickerUtils'
import { defaultLang, languageKeys } from "@i18n/ui";

const pageTitle = "Homepage";
const links = buildLanguageLinks(l => buildHomeLink(l))
const alternates = languageKeys.map(lk => ({
  locale: lk,
  url: `/${lk}/`
}))
---

<SEOHead slot="seo-head" defaultPath={buildHomeLink(defaultLang).href} alternates={alternates} />

<SiteLayout pageTitle={pageTitle}>
  <LanguagePicker slot="langpicker" links={links} />
  <Fragment set:html={intro} />
  <main class="main-content">
    <div>
      <h1>I'm Sergio Carlos Orozco Torres</h1>
      <p>👨🏼‍🎓 <a href={getRelativeLocaleUrl('en', 'about')}>Computer security specialist</a> with extensive knowledge in <a href="trabajo">software development</a></p>
      <p>🗣️ I gave <a href={getRelativeLocaleUrl('en', 'charla')}>talks</a> in different <a href="comunidad">communities</a> throughout Colombia</p>
      <p>📝 Also I writen <a href="blog">a blog</a> about different topics</p>
      <p>🛠️ I participate in open source <a href="proyecto">projects</a></p>
    </div>
    <slot />
  </main>
  <Footer />
</SiteLayout>
