---
import BaseLayout from '@layouts/BaseLayout.astro';
import { type TagsStaticPaths, getTagsPaths } from 'src/utils/paths';
import ListPost from '@components/ListPost.astro';
import Tags from '@components/Tags.astro';

export async function getStaticPaths(): TagsStaticPaths<'talk'>  {
  return getTagsPaths('talk', 'en')
}

const { tag } = Astro.params;
const { posts, tags } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <Tags route="/en/charla/tags/" tags={tags} current={tag}/>
  <p>Talks tagged with {tag}</p>
  <ListPost posts={posts} basePath='en/charla' />
</BaseLayout>
