---
import BaseLayout from '@layouts/BaseLayout.astro';
import Tags from '@components/Tags.astro';
import { getTagsPaths, type TagsStaticPaths } from 'src/utils/paths';
import ListPost from '@components/ListPost.astro';
import { useTranslations } from '@i18n/utils';

export async function getStaticPaths(): TagsStaticPaths<'talk'>  {
  return [...await getTagsPaths('talk', 'en'), ...await getTagsPaths('talk', 'es')]
}

const { tag, locale } = Astro.params;
const t = useTranslations(locale);
const { posts, tags } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <Tags route=`/${locale}/charla/tags/`` tags={tags} current={tag}/>
  <p>{t('talk.tagged')} {tag}</p>
  <ListPost posts={posts} basePath=`${locale}/charla` />
</BaseLayout>
