---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from "astro:assets";
import Gallery from '@components/Gallery.astro';
import { getEntriesPaths, type EntriesStaticPaths } from 'src/utils/paths';
import { useTranslations } from '@i18n/utils';

export async function getStaticPaths(): EntriesStaticPaths<'projects'>  {
  return getEntriesPaths('projects')
}

const { locale } = Astro.params;
const { entry } = Astro.props;
const { Content } = await render(entry);

const t = useTranslations(locale);

---
<BaseLayout pageTitle={entry.data.title}>
  <Image src={entry.data.image} alt="featured image" />
  <p><em>{entry.data.excerpt}</em></p>
  <a href={entry.data.website}>Sitio web</a>
  <dl>
    <dt>{t('work.role')}:</dt><dd>{entry.data.role}</dd>
    <dt>{t('work.responsibilities')}:</dt><dd>{entry.data.responsibilities}</dd>
  </dl>
  <Content />
  {entry.data.gallery &&
    <Gallery items={entry.data.gallery}/>
  }
</BaseLayout>
