---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPost from '@components/BlogPost.astro';
import { getCollection } from 'astro:content';
import BlogTags from '@components/BlogTags.astro';
import { enDateFormat } from 'src/scripts/dateFormat';

const allPosts = (await getCollection('talk')).reverse();
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Talks";
---
<BaseLayout pageTitle={pageTitle}>
  <BlogTags route="/en/charla/tags/" tags={tags} />
  <div class="post-list">
    {allPosts.map((post) =>
      <BlogPost
        image={post.data.image}
        url={`/en/charla/${post.id}`}
        title={post.data.title}
        date={enDateFormat.format(post.data.date)}
      />
    )}
  </div>
</BaseLayout>
