---
import { Image } from 'astro:assets'
import Tags from '@components/Tags.astro'
import Gallery from '@components/Gallery.astro'
import { getFullFormat, useTranslations } from '@i18n/utils'
import type { UILanguages } from '@i18n/ui'
import ResponsiveIframe from './ResponsiveIframe.astro'

interface Props {
  locale: UILanguages
  routeSlug: string
  entry: {
    data: {
      title: string
      date?: Date
      tags?: string[]
      image?: string | ImageMetadata
      excerpt?: string
      gallery?: Array<{ image: ImageMetadata; alt: string }>
      video? : string,
      slide? : string
    }
  }
  hasTags: boolean
  Content: any
}

const { locale, routeSlug, entry, hasTags, Content } = Astro.props
const t = useTranslations(locale)
const dateFormat = getFullFormat(Astro.url)
---

{hasTags && entry.data.tags && (
  <Tags route={`/${locale}/${routeSlug}/tags/`} tags={entry.data.tags} />
)}

{entry.data.video &&
    <ResponsiveIframe
      width="100%"
      height="600"
      src={entry.data.video}
      frameBorder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowFullScreen
      title={`${t('post.video')} ${entry.data.title}`}
      data-testid="post-video"
    />
  }

{entry.data.image && !entry.data.video && (
  typeof entry.data.image === 'string' ? (
    <img src={entry.data.image} alt="featured image" />
  ) : (
    <Image src={entry.data.image} alt="featured image" />
  )
)}

{entry.data.date && <p>{dateFormat.format(entry.data.date)}</p>}



{entry.data?.excerpt && (
  <p><em>{entry.data.excerpt}</em></p>
)}

<Content />

{entry.data.slide &&
    <ResponsiveIframe
      src={entry.data.slide}
      width="100%"
      height="600"
      frameBorder="0"
      title={`Presentación de la charla ${entry.data.title}`}
    />
  }

{entry.data.gallery && (
  <Gallery items={entry.data.gallery}/>
)}
