---
import PostItem from '@components/PostItem.astro';
import PostList from './PostList.astro';
import type { CollectionEntry } from 'astro:content';
import PostDate from './PostDate.astro';
export const dateFormat = new Intl.DateTimeFormat("es-CO", { month: "long", year: "numeric", timeZone: 'UTC' });

export interface Props {
  basePath: string,
	posts: CollectionEntry<'work'>[];
}

const { posts, basePath } = Astro.props;
---

<PostList>
  {posts.map((post) =>
    <PostItem
      image={post.data.image}
      url={`/${basePath}/${post.id}`}
      title={post.data.title}
    >
      <PostDate>
        {`${dateFormat.format(post.data.startDate)} - ${post.data.endDate ? dateFormat.format(post.data.endDate) : "actualidad"}`}
       </PostDate>
      <p>{post.data.role}</p>
      <p>{post.data.responsibilities}</p>
    </PostItem>
  )}
</PostList>
