---
import PostItem from '@components/PostItem.astro'
import PostList from '@components/PostList.astro'
import PostDate from '@components/PostDate.astro'
import WorkDateRange from '@components/WorkDateRange.astro'
import type { EntryWithCleanId } from '@utils/paths'
import type { UILanguages } from '@i18n/ui'

export interface Props {
  basePath: string,
	posts: EntryWithCleanId<'work'>[];
  lang: UILanguages
}

const { posts, basePath, lang } = Astro.props
---

<PostList>
  {posts.map((post) =>
    <PostItem
      image={post.data.image}
      url={`/${basePath}/${post.cleanId}`}
      title={post.data.title}
    >
      <PostDate>
        <WorkDateRange
          locale={lang}
          startDate={post.data.startDate}
          endDate={post.data.endDate}
        />
      </PostDate>
      <p>{post.data.role}</p>
      <p>{post.data.responsibilities}</p>
    </PostItem>
  )}
</PostList>
