---
import PostItem from '@components/PostItem.astro';
import PostList from './PostList.astro';
import type { EntryWithCleanId } from '@utils/paths';

export interface Props {
  basePath: string,
	posts: EntryWithCleanId<'projects'|'community'>[];
}

const { posts, basePath } = Astro.props;
---

<PostList>
  {posts.map((post) =>
    <PostItem
      image={post.data.image}
      url={`/${basePath}/${post.cleanId}`}
      title={post.data.title}
    >
      <p>{post.data.role}</p>
      <p>{post.data.responsibilities}</p>
    </PostItem>
  )}
</PostList>
