---
import type { CollectionEntry } from 'astro:content';
import PostItem from '@components/PostItem.astro';
import PostList from '@components/PostList.astro';
import PostDate from '@components/PostDate.astro';
import { getMonthYearFormat } from '@i18n/utils';

export interface Props {
  basePath: string,
	posts: CollectionEntry<'work'>[];
}

const { posts, basePath } = Astro.props;
const dateFormat = getMonthYearFormat(Astro.url);
---

<PostList>
  {posts.map((post) =>
    <PostItem
      image={post.data.image}
      url={`/${basePath}/${post.id}`}
      title={post.data.title}
    >
      <PostDate>
        {`${dateFormat.format(post.data.startDate)} - ${post.data.endDate ? dateFormat.format(post.data.endDate) : "actualidad"}`}
       </PostDate>
      <p>{post.data.role}</p>
      <p>{post.data.responsibilities}</p>
    </PostItem>
  )}
</PostList>
