---
import { render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import Tags from '@components/Tags.astro';
import ResponsiveIframe from '@components/ResponsiveIframe.astro';
import { full } from '@i18n/dateFormat';
import { type EntriesStaticPaths, getEntriesPaths } from 'src/utils/paths';
import { useTranslations } from '@i18n/utils';

export async function getStaticPaths(): EntriesStaticPaths<'talk'>  {
  return getEntriesPaths('talk')
};

const { locale } = Astro.params;
const t = useTranslations(locale);
const { entry } = Astro.props;
const { Content } = await render(entry);
const dateFormat = new Intl.DateTimeFormat(locale, full);

---
<BaseLayout pageTitle={entry.data.title}>
  <Tags route=`/${locale}/charla/tags/` tags={entry.data.tags} />
  {entry.data.video &&
    <ResponsiveIframe
      width="100%"
      height="600"
      src={entry.data.video}
      frameBorder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowFullScreen
      title={`${t('talk.video')} ${entry.data.title}`}
    />
  }
  <p>{dateFormat.format(entry.data.date)}</p>
  <Content />
  {entry.data.slide &&
    <ResponsiveIframe
      src={entry.data.slide}
      width="100%"
      height="600"
      frameBorder="0"
      title={`${t('talk.slides')} ${entry.data.title}`}
    />

  }
</BaseLayout>
