---
import BaseLayout from '@layouts/BaseLayout.astro'
import SEOHead from '@components/SEOHead.astro'
import Tags from '@components/Tags.astro'
import ListPost from '@components/ListPost.astro'
import LanguagePicker from '@components/LanguagePicker.astro'
import { useTranslations } from '@i18n/utils'
import { buildTagPaths, type TagPath } from '@utils/staticPathsBuilder.adapters'
import { filterByLocale, getUniqueTags } from '@utils/paths'
import type { UILanguages } from '@i18n/ui'

export async function getStaticPaths() {
  return await buildTagPaths()
}

const { locale, section, tag } = Astro.params as { locale: UILanguages; section: string; tag: string }
const { allEntries, config, links } = Astro.props as TagPath['props']
const t = useTranslations(locale)

const localePosts = filterByLocale(allEntries, locale)
const posts = localePosts.filter((post) => post.data.tags?.includes(tag))
const tags = getUniqueTags(localePosts)
const pageTitle = `${t(config.translationKey)} - ${tag}`
const metaDescription = `${config.taggedKey ? t(config.taggedKey) : t(config.translationKey)} ${tag}`
---

<BaseLayout pageTitle={pageTitle} description={metaDescription}>
  <SEOHead slot="seo-head" links={links} />
  <LanguagePicker slot="langpicker" links={links} />
  <Tags route={`/${locale}/${section}/tags/`} tags={tags} current={tag} />
  {config.taggedKey && <p>{t(config.taggedKey)} {tag}</p>}

  {posts.length === 0 ? (
    <div class="warning">
      <p>{t('tags.untranslated_notice')}</p>
    </div>
  ) : (
    <div>
      <ListPost posts={posts} basePath={`${locale}/${config.routes[locale]}`} cta={t(config.ctaKey)} />
    </div>
  )}
</BaseLayout>
